%h1 投稿
= form_with scope: :report,url: reports_path, local: true do |form|
  %p
    = form.label :タイトル
    %br/
    = form.text_field :title

  %p
    = form.label :カテゴリー
    %br/
    = form.text_field :category

  %p
    = form.label :画像
    %br/
    = form.file_field :image
  %p
    = form.label :レビュー
    %br/
    = form.text_area :review
  %p
    = form.submit